header.header
    .header-column
        a(href=routes.main)
            i.fab.fa-youtube
    .header-column
        form(action=routes.search, method="get")
            input(type="text", placeholder="Search by term..", name="term")
    .header-column
        ul
            if !user.isAuthenticated
                li
                    a(href=routes.signup) Join
                li
                    a(href=routes.signin) Log In
            else
                li
                    a(href=`/videos${routes.upload}`) Upload
                li
                    a(href=routes.userDetail(user.id)) Profile
                li
                    a(href=routes.signout) Sign Out